**/logs
**/scores
**/models
**/pickled_files
logs/*
scores/*
models/*
pickled_files/*
utils/__pycache__/*
scores_*
*ark
*txt
valid_*
plots/*
utt2spk*
spk2utt*
Kaldi_Models/Train/*
*_spks
tmp_utts
xvector_train.scp
