# This is a sample configuration for NPLDA - for VOiCES Challenge

[Paths]
training_data_trials_list = trials_and_keys/voxceleb_16k_aug_train_trial_keys.tsv
validation_trials_list = trials_and_keys/voxceleb_16k_aug_validate_trial_keys.tsv,trials_and_keys/voices_dev_keys.tsv
test_trials_list = /home/data/VOICES/interspeech2019Challenge/VOiCES_challenge_2019_post-eval-release/VOiCES_challenge_2019_eval.SID.trial-keys.lst
mega_xvector_scp = xvectors/mega_xvector_voices_voxceleb_16k.scp
mega_xvector_pkl = xvectors/mega_xvector_voices_voxceleb_16k.pkl
meanvec = Kaldi_Models/voxceleb/mean.vec
transformmat = Kaldi_Models/voxceleb/transform.mat
kaldiplda = Kaldi_Models/voxceleb/plda

[NPLDA]
xvector_dim = 512
layer1_LDA_dim = 170
layer2_PLDA_spkfactor_dim = 170
initialization = kaldi
device = cuda
seed = 1
alpha = 15

[Training]
loss = SoftCdet
target_probs = 0.01
batch_size = 4096
n_epochs = 20
lr = 0.0001
heldout_set_for_th_init = voices_dev_keys
heldout_set_for_lr_decay = voxceleb_16k_aug_validate_trial_keys

[Scoring]
scorefile_format = voices

[Logging]
log_interval = 100