# This file was created by the command:
# steps/nnet3/xconfig_to_configs.py --xconfig-file exp/xvector_nnet_1a/configs/network.xconfig --config-dir exp/xvector_nnet_1a/configs/
# It contains the entire neural network, but with those
# components that would normally require fixed vectors/matrices
# read from disk, replaced with random initialization
# (this applies to the LDA-like transform and the
# presoftmax-prior-scale, if applicable).  This file
# is used only to work out the left-context and right-context
# of the network.

input-node name=input dim=23
component name=tdnn1.affine type=NaturalGradientAffineComponent input-dim=115 output-dim=512  max-change=0.75
component-node name=tdnn1.affine component=tdnn1.affine input=Append(Offset(input, -2), Offset(input, -1), input, Offset(input, 1), Offset(input, 2))
component name=tdnn1.relu type=RectifiedLinearComponent dim=512 self-repair-scale=1e-05
component-node name=tdnn1.relu component=tdnn1.relu input=tdnn1.affine
component name=tdnn1.batchnorm type=BatchNormComponent dim=512 target-rms=1.0
component-node name=tdnn1.batchnorm component=tdnn1.batchnorm input=tdnn1.relu
component name=tdnn2.affine type=NaturalGradientAffineComponent input-dim=512 output-dim=512  max-change=0.75
component-node name=tdnn2.affine component=tdnn2.affine input=tdnn1.batchnorm
component name=tdnn2.relu type=RectifiedLinearComponent dim=512 self-repair-scale=1e-05
component-node name=tdnn2.relu component=tdnn2.relu input=tdnn2.affine
component name=tdnn2.batchnorm type=BatchNormComponent dim=512 target-rms=1.0
component-node name=tdnn2.batchnorm component=tdnn2.batchnorm input=tdnn2.relu
component name=tdnn3.affine type=NaturalGradientAffineComponent input-dim=1536 output-dim=512  max-change=0.75
component-node name=tdnn3.affine component=tdnn3.affine input=Append(Offset(tdnn2.batchnorm, -2), tdnn2.batchnorm, Offset(tdnn2.batchnorm, 2))
component name=tdnn3.relu type=RectifiedLinearComponent dim=512 self-repair-scale=1e-05
component-node name=tdnn3.relu component=tdnn3.relu input=tdnn3.affine
component name=tdnn3.batchnorm type=BatchNormComponent dim=512 target-rms=1.0
component-node name=tdnn3.batchnorm component=tdnn3.batchnorm input=tdnn3.relu
component name=tdnn4.affine type=NaturalGradientAffineComponent input-dim=512 output-dim=512  max-change=0.75
component-node name=tdnn4.affine component=tdnn4.affine input=tdnn3.batchnorm
component name=tdnn4.relu type=RectifiedLinearComponent dim=512 self-repair-scale=1e-05
component-node name=tdnn4.relu component=tdnn4.relu input=tdnn4.affine
component name=tdnn4.batchnorm type=BatchNormComponent dim=512 target-rms=1.0
component-node name=tdnn4.batchnorm component=tdnn4.batchnorm input=tdnn4.relu
component name=tdnn5.affine type=NaturalGradientAffineComponent input-dim=1536 output-dim=512  max-change=0.75
component-node name=tdnn5.affine component=tdnn5.affine input=Append(Offset(tdnn4.batchnorm, -3), tdnn4.batchnorm, Offset(tdnn4.batchnorm, 3))
component name=tdnn5.relu type=RectifiedLinearComponent dim=512 self-repair-scale=1e-05
component-node name=tdnn5.relu component=tdnn5.relu input=tdnn5.affine
component name=tdnn5.batchnorm type=BatchNormComponent dim=512 target-rms=1.0
component-node name=tdnn5.batchnorm component=tdnn5.batchnorm input=tdnn5.relu
component name=tdnn6.affine type=NaturalGradientAffineComponent input-dim=512 output-dim=512  max-change=0.75
component-node name=tdnn6.affine component=tdnn6.affine input=tdnn5.batchnorm
component name=tdnn6.relu type=RectifiedLinearComponent dim=512 self-repair-scale=1e-05
component-node name=tdnn6.relu component=tdnn6.relu input=tdnn6.affine
component name=tdnn6.batchnorm type=BatchNormComponent dim=512 target-rms=1.0
component-node name=tdnn6.batchnorm component=tdnn6.batchnorm input=tdnn6.relu
component name=tdnn7.affine type=NaturalGradientAffineComponent input-dim=1536 output-dim=512  max-change=0.75
component-node name=tdnn7.affine component=tdnn7.affine input=Append(Offset(tdnn6.batchnorm, -4), tdnn6.batchnorm, Offset(tdnn6.batchnorm, 4))
component name=tdnn7.relu type=RectifiedLinearComponent dim=512 self-repair-scale=1e-05
component-node name=tdnn7.relu component=tdnn7.relu input=tdnn7.affine
component name=tdnn7.batchnorm type=BatchNormComponent dim=512 target-rms=1.0
component-node name=tdnn7.batchnorm component=tdnn7.batchnorm input=tdnn7.relu
component name=tdnn8.affine type=NaturalGradientAffineComponent input-dim=512 output-dim=512  max-change=0.75
component-node name=tdnn8.affine component=tdnn8.affine input=tdnn7.batchnorm
component name=tdnn8.relu type=RectifiedLinearComponent dim=512 self-repair-scale=1e-05
component-node name=tdnn8.relu component=tdnn8.relu input=tdnn8.affine
component name=tdnn8.batchnorm type=BatchNormComponent dim=512 target-rms=1.0
component-node name=tdnn8.batchnorm component=tdnn8.batchnorm input=tdnn8.relu
component name=tdnn9.affine type=NaturalGradientAffineComponent input-dim=512 output-dim=512  max-change=0.75
component-node name=tdnn9.affine component=tdnn9.affine input=tdnn8.batchnorm
component name=tdnn9.relu type=RectifiedLinearComponent dim=512 self-repair-scale=1e-05
component-node name=tdnn9.relu component=tdnn9.relu input=tdnn9.affine
component name=tdnn9.batchnorm type=BatchNormComponent dim=512 target-rms=1.0
component-node name=tdnn9.batchnorm component=tdnn9.batchnorm input=tdnn9.relu
component name=tdnn10.affine type=NaturalGradientAffineComponent input-dim=512 output-dim=1500  max-change=0.75
component-node name=tdnn10.affine component=tdnn10.affine input=tdnn9.batchnorm
component name=tdnn10.relu type=RectifiedLinearComponent dim=1500 self-repair-scale=1e-05
component-node name=tdnn10.relu component=tdnn10.relu input=tdnn10.affine
component name=tdnn10.batchnorm type=BatchNormComponent dim=1500 target-rms=1.0
component-node name=tdnn10.batchnorm component=tdnn10.batchnorm input=tdnn10.relu
component name=stats-extraction-0-10000 type=StatisticsExtractionComponent input-dim=1500 input-period=1 output-period=1 include-variance=true 
component-node name=stats-extraction-0-10000 component=stats-extraction-0-10000 input=tdnn10.batchnorm 
component name=stats-pooling-0-10000 type=StatisticsPoolingComponent input-dim=3001 input-period=1 left-context=0 right-context=10000 num-log-count-features=0 output-stddevs=true 
component-node name=stats-pooling-0-10000 component=stats-pooling-0-10000 input=stats-extraction-0-10000 
component name=tdnn11.affine type=NaturalGradientAffineComponent input-dim=3000 output-dim=512  max-change=0.75
component-node name=tdnn11.affine component=tdnn11.affine input=Round(stats-pooling-0-10000, 1)
component name=tdnn11.relu type=RectifiedLinearComponent dim=512 self-repair-scale=1e-05
component-node name=tdnn11.relu component=tdnn11.relu input=tdnn11.affine
component name=tdnn11.batchnorm type=BatchNormComponent dim=512 target-rms=1.0
component-node name=tdnn11.batchnorm component=tdnn11.batchnorm input=tdnn11.relu
component name=tdnn12.affine type=NaturalGradientAffineComponent input-dim=512 output-dim=512  max-change=0.75
component-node name=tdnn12.affine component=tdnn12.affine input=tdnn11.batchnorm
component name=tdnn12.relu type=RectifiedLinearComponent dim=512 self-repair-scale=1e-05
component-node name=tdnn12.relu component=tdnn12.relu input=tdnn12.affine
component name=tdnn12.batchnorm type=BatchNormComponent dim=512 target-rms=1.0
component-node name=tdnn12.batchnorm component=tdnn12.batchnorm input=tdnn12.relu
component name=output.affine type=NaturalGradientAffineComponent input-dim=512 output-dim=7323  max-change=1.5 param-stddev=0.0 bias-stddev=0.0
component-node name=output.affine component=output.affine input=tdnn12.batchnorm
component name=output.log-softmax type=LogSoftmaxComponent dim=7323
component-node name=output.log-softmax component=output.log-softmax input=output.affine
output-node name=output input=output.log-softmax objective=linear
